$dark_black: #13161B;
$light_black: #222730;
$text: #D8E2E9;
$blue: #40798c;
$light_blue: #81b4c5;

.content {
  h1 {
    color: $light_blue;
    font-family: "Space Mono", monospace;
  }

  .container {
    display: flow-root;

    .floated {
      float: right;
      width: 150px;
    }

    p {
      color: $text;
      text-align: justify;
      font-family: "Funnel Sans", sans-serif;
      font-size: 1.05rem;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 10px;

    img {
      margin: 2px;
    }
  }

  .my_links {
    //display: flex;
    // justify-content: center;
    flex-wrap: wrap;

    span {
      font-family: "Space Mono", monospace;
      color: $light_blue;
      font-size: 1.5rem;
      font-weight: bold;
    }

    img {
      margin: 2px;
    }
  }
}