---
import Base from "../../layouts/Base.astro";
import "../../styles/projects.scss";
import Project from "../../components/Project.astro";

---

<Base>
    <h1>Projetos</h1>

    <div class="projects">
        <Project
                img="/logos/emerald.webp"
                name="Emerald"
                description="A general-purpose bot for Discord"
                url="https://github.com/argonptg/emerald"
        />

        <Project
                img="/logos/bpo.png"
                name="BPO"
                description="An app to manage your game library"
                url="https://github.com/blackpearlorigin/blackpearlorigin"
        />

        <Project
                img="/logos/pb-sharp.png"
                name="PocketBaseSharp"
                description="A wrapper for PocketBase in C#/.NET (in development)"
                url="https://github.com/argonptg/PocketBaseSharp"
        />
    </div>
</Base>
