---
import Base from "../layouts/Base.astro"
import "../styles/about.scss"
---

<Base>
    <h1>Sobre mim</h1>

    <div class="container">
        <img src="/sphere.gif" alt="cat spinning in a sphere" style="float:left;" />

        <p>
            Opa! Me chamo Davi, mas pode me chamar de <b>argon</b> ou
            <b>argonptg</b>. Sou um estudante no 2° ano do ensino médio
            e possuo experiência em <b>Javascript/Typescript</b>e
            <b>Svelte</b>, e atualmente tô aprendendo <b>C#</b> no técnico.
            No dia a dia, uso Arch Linux (hurrr durr i use arch btw)
        </p>
        <p>
            Mudando de assunto, sou apaixonado por esportes, principalmente
            Fórmula 1 e Futebol. na F1 torço pra <b>McLaren</b> e pro <b>Bortoleto</b>
            <i>(que vem impressionando bastante gente)</i>. Já no futebol, sou
            <b>atleticano</b> desde o berço e também apoio o <b>Nottingham Forest</b>.
            Também não posso esquecer do PTCG, onde jogo e (tento) ser bom
        </p>

        <p>
            Por ultimo, também acompanho e-sports e torço pra <b>Legacy</b>
            <i>(ainda n acredito daquela classificação do major)</i>. Se quiser
            bater um papo, pode me encontrar no <b>Twitter</b>, <b>Reddit</b> e
            <b>Discord</b>!
        </p>
    </div>

    <div class="center">
        <ul class="socials">
            <li>
                <a href="https://github.com/argonptg" target="_blank">
                    <img src="/links/github.svg" alt="Github Logo" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/argonptg" target="_blank">
                    <img src="/links/twitter.svg" alt="Twitter Logo">
                </a>
            </li>
            <li>
                <a href="https://reddit.com/u/argonptg" target="_blank">
                    <img src="/links/reddit.svg" alt="Reddit Logo">
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/davismachado" target="_blank">
                    <img src="/links/linkedin.svg" alt="LinkedIn Logo">
                </a>
            </li>
        </ul>
    </div>
</Base>

