---
import Base from "../layouts/Base.astro"
import "../styles/about.scss"
---

<Base>
    <h1>Sobre mim</h1>

    <div class="container">
        <img src="/sphere.gif" alt="cat spinning in a sphere" style="float:left;" />

        <p>
            Opa! Me chamo Davi, mas pode me chamar de <b>argon</b> ou
            <b>argonptg</b>. Sou um estudante no 2° ano do ensino médio
            e possuo experiência em <b>Javascript</b>, <b>Typescript</b> e
            <b>Svelte</b>, e atualmente tô aprendendo <b>C#</b> no técnico.
            No dia a dia, uso Arch Linux
        </p>
        <p>
            Mudando de assunto, sou apaixonado por esportes, principalmente
            Fórmula 1 e Futebol. na F1 torço pra <b>McLaren</b> e pro <b>Bortoleto</b>
            <i>(que vem impressionando bastante gente)</i>. Já no futebol, sou
            <b>atleticano</b> desde o berço e também apoio o <b>Nottingham Forest</b>.
            Também não posso esquecer do PTCG, onde jogo e (tento) ser bom
        </p>

        <p>
            No mais esse site é só um canto pra eu postar coisas que eu gosto
            e de meu interesse, espero que você <em>(sim você mesmo que tá lendo)</em>
            tenha gostado desse site! Abaixo vai alguns buttons e webrings que eu curti/participo.
        </p>
    </div>

    <div class="links">
        <!--Meu button-->
        <a href="https://argonptg.neocities.org">
            <img src="/links/button.png" alt="meu botao" />
        </a>

        <!--Links a outras paginas-->
        <a href="https://dorival.neocities.org">
            <img src="/links/dorival-button.gif" alt="Dorival" title="buteco do dorival" />
        </a>
        <a href="https://eduu.neocities.org">
            <img src="/links/edu-button.gif" alt="Dorival" title="edu's junkyard" />
        </a>
        <a href="https://frajola.neocities.org/">
            <img src="/links/frajola-button.png" alt="frajola" />
        </a>
        <a href="https://vinizinho.net">
            <img src="/links/vini-button.png" alt="dabric" />
        </a>
        <a href="https://riomccloud.neocities.org/">
            <img src="/links/riomccloud-button.gif" alt="riomccloud" />
        </a>
        <a href="https://dabric.xyz">
            <img src="/links/dabric-button.png" alt="dabric" />
        </a>
        <a href="https://dimden.dev/">
            <img src="/links/dimden-button.gif" alt="dimden" />
        </a>

        <!--Links pessoais-->
        <a href="https://github.com/argonptg">
            <img src="/links/github.gif" alt="Github Logo" />
        </a>
        <a href="https://twitter.com/argonptg">
            <img src="/links/twitterbutton.gif" alt="Twitter Logo" />
        </a>
        <a href="https://reddit.com/u/argonptg">
            <img src="/links/reddit.gif" alt="Reddit Logo" />
        </a>

        <!--Buttons legaizinhos-->
        <a href="https://archlinux.org">
            <img src="/links/archlinux.gif" alt="archlinux" />
        </a>
        <a href="https://decolonizepalestine.com">
            <img src="/links/standpalestine.png" alt="standpalestine" />
        </a>
        <a href="https://neocities.org">
            <img src="/links/neocitiesbutton1.gif" alt="neocities" />
        </a>
        <img src="/links/chrome-is-evil.gif" alt="chrome is evil" />
        <img src="/links/sharing-is-caring.gif" alt="sharing is caring, seed your torrents" />
        <img src="/links/make-a-site.png" alt="you should make a site" />
        <img src="/links/any-browser.gif" alt="best viewed with any browser" />
        <a href="https://yesterweb.org/graphics/buttons">
            <img src="/links/nft.gif" alt="no fucking thanks" />
        </a>
        <a href="https://yesterweb.org/graphics/buttons">
            <img src="/links/i-heart-leafeon.gif" alt="i love leafeon" />
        </a>
        <a href="https://onlywonder.net">
            <img src="/links/repair.png" alt="i support right to repair" />
        </a>
        <a>
            <img src="/links/IA.gif" alt="preserve everything - internet archive" />
        </a>
        <img src="/links/brazil.png" alt="brasil" />
    </div>

    <div class="links">
        <iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=your name"></iframe>
    </div>
</Base>

